</main>
<footer>
  <div class="footer-content">
    <p>Информационная система для учета медицинского оборудования диализного отделения &copy; <%= new Date().getFullYear() %></p>
  </div>
</footer>
</body>
</html>